{% extends 'base.html.twig' %}

{% block body %}
    <h1>Destinatarios list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Apellidos</th>
                <th>Nombres</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for destinatario in destinatarios %}
            <tr>
                <td><a href="{{ path('admin_destinatario_show', { 'id': destinatario.id }) }}">{{ destinatario.id }}</a></td>
                <td>{{ destinatario.apellidos }}</td>
                <td>{{ destinatario.nombres }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_destinatario_show', { 'id': destinatario.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_destinatario_edit', { 'id': destinatario.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_destinatario_new') }}">Create a new destinatario</a>
        </li>
    </ul>
{% endblock %}
