<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Menú</h3>
  </div>
  <div class="panel-body">
    <ul>
    <li><h4><a href="{{ path('admin_homepage') }}">Inicio</a></h4></li>
    <li><h4>Preinscripciones</h4></li>
    	<ul>
    	<li><h4><small><a href="{{ path('admin_preinscripcion_new') }}">Abrir</a></small></h4></li>
    	<li><h4><small><a href="">Cerrar</a></small></h4></li>
    	<li><h4><small><a href="{{ path('admin_preinscripcion_index') }}">Listar</a></small></h4></li>
    	</ul>
    <li><h4>Formularios</h4></li>
        <ul>
        <li><h4><small><a href="{{ path('formulario_index') }}">Confirmar</a></small></h4></li>
        </ul>
    <li><h4>Notas</h4></li>
    	<ul>
    	<li><h4><small><a href="{{ path('admin_nota_new') }}">Marcar como Recibida</a></small></h4></li>
        <li><h4><small><a href="{{ path('admin_nota_index') }}">Listar todas las notas</a></small></h4></li>
    	</ul>
    <li><h4>
        <a href="{{ path('fos_user_security_logout') }}">
        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>
        </h4>
    </li>
    </ul> 
  </div>
</div>