{% extends 'base.html.twig' %}

{% block body %}
    <h1>Estadoformulario</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ estadoFormulario.id }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ estadoFormulario.estado }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_estadoformulario_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_estadoformulario_edit', { 'id': estadoFormulario.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
